<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" ng-app="timelineApp">
      <h1>Timeline</h1>
      <flash></flash>
      <message-form></message-form><br>
      <message-list></message-list>
    </div>
  </div>
</div>
