<form ng-submit="$ctrl.addMessage()">
  <textarea class="form-control" rows="3" ng-model="body"
                  id="body-input" placeholder="Your message..." autofocus></textarea>
  <div class="form-group">
    <label for="user-name-input">Your name</label>
    <input type="text" class="form-control" ng-model="userName"
           id="user-name-input" placeholder="Your name">
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
