<div ng-repeat="message in messages|orderBy:'-createdAt'">
  <blockquote>
    <p>{{ message.body }}</p>
    <footer>{{ message.userName }}, {{ message.createdAt|moment }}</footer>
    <comment-form message-id="message.id"></comment-form>
    <comment-list message-id="message.id" comments="message.comments"></comment-list>
  </blockquote>
</div>
