<a style="cursor: pointer;" ng-click="isCommentFormOpen = !isCommentFormOpen" class="pull-right">Add comment</a>
<form ng-submit="$ctrl.addComment()" ng-show="isCommentFormOpen">
  <input type="hidden" ng-model="$ctrl.messageId" />
  <textarea class="form-control" rows="3" ng-model="body"
                  id="body-input" placeholder="Your comment..." autofocus></textarea>
  <div class="form-group">
    <label for="user-name-input">Your name</label>
    <input type="text" class="form-control" ng-model="userName"
           id="user-name-input" placeholder="Your name">
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
