<div ng-repeat="comment in comments|orderBy:'-createdAt'">
  <blockquote>
    <p>{{ comment.body }}</p>
    <footer>{{ comment.userName }}, {{ comment.createdAt|moment }}</footer>
  </blockquote>
</div>
